<header class="header">
  <div class="header-container">
    <nav class="navigation">
      <a
        href="#"
        routerLink="/home-page"
        routerLinkActive="active-link"
        class="nav-link main-menu-link"
        >НАЧАТЬ</a
      >
      <a
        href="#"
        routerLink="toys-page"
        routerLinkActive="active-link"
        class="nav-link toy-page-link"
        >ИГРУШКИ</a
      >
      <a
        href="#tree-page"
        routerLink="tree-page"
        routerLinkActive="active-link"
        class="nav-link tree-page-link"
        >ЁЛКА</a
      >
    </nav>
    <p class="fav-warn hide-warn">
      Извините, но все слоты любимых игрушек заняты
    </p>
    <div class="favorite-counter">
      <p class="favorite-count">{{ toyService.favs.size }}</p>
    </div>
  </div>
</header>
