<div *ngFor="let item of toyService.filtered" class="toy">
  <h2 class="toy-name">{{ item.name }}</h2>
  <div
    class="toy-image"
    style="background-image: url(&quot;../../../assets/toys/{{item.num}}.png&quot;);"
  ></div>
  <div class="toy-description">
    <p class="toy-amount">Количество: {{ item.count }}</p>
    <p class="toy-year">Год: {{ item.year }}</p>
    <p class="toy-shape">Форма: {{ item.shape }}</p>
    <p class="toy-color">Цвет: {{ item.color }}</p>
    <p class="toy-size">Размер: {{ item.size }}</p>
    <p *ngIf="item.favorite" class="toy-favourite">Лбюимая: да</p>
    <p *ngIf="!item.favorite" class="toy-favourite">Лбюимая: нет</p>
  </div>
  <div
    (click)="toyService.manageFavs(item.num)"
    class="fav-btn"
    [ngClass]="{
      'fav-btn-active': toyService.favs.has(toyService.toyData[+item.num - 1])
    }"
    id="{{ item.num }}"
  ></div>
</div>
